/**
    Duvbox - adapted for Discord
    
    Made by CircuitRCAY (Circuit#2816)
*/

/* Iosevka, codeblock font */

@import url("https://typeof.net/Iosevka/fonts.css");

code {
    font-family: "Iosevka Web", monospace;
    font-weight: 600;
}

/** End Iosevka */

.theme-dark {
    --background-primary: #282828;
    --background-secondary: #3c3836;
    --background-tertiary: #504945;
    --background-accent: #32302f;
    --text-normal: #ebdbb2;
    --text-muted: #bdae93;
    --text-link: #458588;
    --background-floating: #3c3836;
    --header-primary: #ebdbb2;
    --header-secondary: #bdae93;
    --header-spotify: #b8bb26;
    --interactive-normal: #ebdbb2;
    --interactive-hover: #bdae93;
    --interactive-active: #fbf1c7;
}

.theme-light {
    --background-primary: #fbf1c7;
    --background-secondary: #ebdbb2;
    --background-tertiary: #d5c4a1;
    --background-accent: #f2e5bc;
    --text-normal: #3c3836;
    --text-muted: #504945;
    --text-link: #076678;
    --header-primary: #3c3836;
    --header-secondary: #504945;
    --header-spotify: #98971a;
    --background-floating: #ebdbb2;
    --interactive-normal: #665c54;
    --interactive-muted: #928374;
    --interactive-hover: #504945;
    --interactive-active: #7c6f64;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
    background: transparent !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border: none !important;
    width:5px !important;
}
::-webkit-scrollbar-thumb {
    background: var(--background-secondary) !important;
    width:5px !important;
    border:none !important;
    border-radius: 0px !important;
}

div[class^="scrollableContainer"] {
    background-color: var(--background-secondary);
}

div[class^="name"] > span {
    color: var(--text-normal);
}

h1, h2, h3 {
    color: var(--text-normal);
}

h3[class^="title"] {
    color: var(--text-normal);
}

div[class^="panels"] > div[class^="container"] {
    background-color: var(--background-secondary);
}

section[class^="panels"] > div[class^="container"] > div[class^="nameTag"] > * {
    color: var(--text-normal);
}

section[class^="panels"] > div[class^="container"] {
    background-color: var(--background-secondary);
}

div.userSettingsAccount-2eMFVR > div > div {
    background-color: var(--background-primary);
}

* > div[class^="contents"] {
    color: var(--text-normal)
}

div[class^="size14"] {
    color: var(--text-normal);
}

div[class^="topic"] {
    color: var(--text-muted);
}

div[class^="friendsTable"] {
    background-color: var(--background-primary);
}

[class^="input"] {
    background-color: var(--background-primary);
}

div[class^="uploadModal"] > div[class^="inner"], div[class^="inner"] > div[class^="uploadModal"], div[class^="uploadModal"] > div[class^="footer"] {
    background-color: var(--background-primary);
}

[class^="usernameContainer"]:not([style]){
    color: var(--text-normal)
}

div[class^="username"] {
    background-color: inherit;
}

span[class^="wrapperHover"][role="button"] {
    color: var(--text-link)
}

[class^="autocompleteInner"] {
    background-color: var(--background-secondary)
}


a[class^="wrapper"] {
    color: var(--text-normal)
}

[class^="tooltipRight"] {
    color: var(--text-normal)
}

div[role="dialog"] {
    color: var(--background-primary)
}

div[class*="activityPanel"] {
    background-color: var(--background-secondary)
}

div[class^="text"] {
    color: var(--text-normal)
}

div[class^="side"] > div[class^="item"] {
    background-color: var(--background-secondary)
}

[class^="userInfoViewing"] {
    background-color: var(--background-secondary);
}

[class*="lookFilled"][class*="colorBrand"] {
    background-color: var(--text-link);
}

div[class*="tooltip"] {
    background-color: var(--background-secondary);
}
div[class*="contextMenu"] {
    background-color: var(--background-secondary);
}

div[class*="header"] {
    background-color: var(--background-secondary)
}

div[class*="details"] {
    color: var(--text-normal);
}

div[class*="headerTextNormal"] {
    background-color: var(--background-secondary);
}

span {
    color: var(--text-normal)
}

span[class*="headerName"] {
    color: var(--text-normal)
}

div[class*="userPopout"] > div[class*="footer"] {
    background-color: var(--background-primary)
}

div[class*="scrollerWrap"][class*="body"] > div[class*="scroller"] {
    background-color: var(--background-primary)
}

[class*="footer"] > [class*="quickMessage"] {
    background-color: var(--background-primary)
}

div[class^="topSectionPlaying"] > header[class^="header"] {
    background-color: var(--background-secondary);
}

header[class^="title"] {
    color: var(--text-normal)
}

div[class^="tabBody"] {
    background-color: var(--background-primary);
}

div[class^="topSectionNormal"] > header > div[class^="headerInfo"]{
    background-color: inherit;
}

div[class^="topSectionSpotify"] > header > div[class^="headerInfo"]{
    background-color: inherit;
}

div[class^="topSectionSpotify"] {
    background-color: var(--header-spotify);
}

div[class*="nameNormal"][class*="ellipsis"][class*="textRow"][class*="weightSemiBold"] > a {
    color: var(--text-normal)
}

div[class*="detailsWrap"][class*="textRow"] > span > a {
    color: var(--text-normal);
}

div[class*="state"][class*="ellipsis"][class*="textRow"] > span > a {
    color: var(--text-normal);
}

div[class^="headerTextNormal"][class*="headerText"][class*="small"][class*="marginBottom8"][class*="weightBold"] {
    color: var(--text-normal);
    background-color: var(--background-secondary);
    background: transparent !important;
}

div[class*="details"][class*="ellipsis"][class*="textRow"] {
    color: var(--text-normal)
}

div[class*="timestamp"] {
    color: var(--text-normal)
}

section[class^="section"] {
    background-color: var(--background-secondary);
}

div[class*="container"] > div[class*="contentWrapper"] {
    background-color: var(--background-secondary);
}

div[class*="selectorSelected"][class*="selector"] {
    background-color: var(--background-primary);
}

div[class*="infoBar"] {
    background-color: var(--background-tertiary);
}

/** Credit to AlexFlipnote#0001 */

div[class*="popouts-"] div[class^="row-"] {
    transition: all 250ms ease;
}
div[class*="popouts-"] div[class^="row-"][class*="selected-"] {
    background: var(--background-primary);
    padding-left: 26px;
}
div[class*="popouts-"] div[class*="container-"] {
    background: var(--background-primary);
}
div[class*="popouts-"] div[class*="container-"] div[class*="queryContainer-"] {
    background: var(--background-accent);
}
div[class*="popouts-"] div[class*="container-"] span[class*="searchFilter-"] {
    background-color: var(--background-primary);
    padding: 0 5px;
}
div[class*="popouts-"] div[class*="container-"] span[class*="searchFilter-"] [data-text] {
    font-weight: bold;
}
div[class*="popouts-"] div[class*="container-"] span[class*="searchAnswer-"] {
    background-color: var(--background-secondary);
    padding-left: 0;
}
div[class*="popouts-"] div[class*="container-"] span[class*="searchAnswer-"] [data-text] {
    font-weight: lighter;
}
div[class*="popouts-"] div[class*="resultsGroup-"] {
    background-color: var(--background-primary);
}
div[class*="popouts-"] div[class*="resultsGroup-"] div[class*="selected-"] {
    background-color: var(--background-secondary);
}
div[class*="popouts-"] div[class*="resultsGroup-"] div[class*="selected-"]::after {
    background-color: var(--background-secondary);
}
div[class*="popouts-"] div[class*="resultsGroup-"] div[class*="option-"]::after {
    background: transparent;
}
div[class*="popouts-"] div[class*="resultsGroup-"] div[class*="option-"] div[class*="searchQuery-"] {
    background-color: #111;
    border: 0;
}
div[class*="popouts-"] div[class*="resultsGroup-"] div[class*="option-"] div[class*="searchQuery-"] + div[class*="selected-"] {
    background-color: var(--background-secondary) !important;
}
div[class*="popouts-"] div[class*="resultsGroup-"] div[class*="option-"] div[class*="searchQuery-"] + div[class*="resultsGroup-"]::before {
    display: none;
}
div[class*="popouts-"] div[class*="resultsGroup-"] div[class*="option-"] div[class*="searchQuery-"] + div[class*="searchQuery-"] {
    background-color: var(--background-primary);
}
div[class*="popouts-"] div[class*="resultsGroup-"] div[class*="option-"] div[class*="searchQuery-"] + div[class*="searchQuery-"] + div[class*="selected-"] {
    background-color: var(--background-secondary) !important;
}
div[class*="popouts-"] div[class*="resultsGroup-"] div[class*="option-"] div[class*="searchQuery-"] .keybind-shortcut.dim span {
    background-color: var(--background-secondary);
    border: 1px solid var(--background-secondary);
    box-shadow: inset 0 -4px 0 var(--background-highlight);
    color: #000;
}
div[class*="popouts-"] div[class*="resultsGroup-"] div[class*="option-"] div[class*="searchQuery-"] .keybind-shortcut.dim span:active {
    box-shadow: inset 0 -2px 0 var(--background-highlight);
}

div[class*="searchResultsWrap-"] {
    background: var(--background-highlight);
}
div[class*="searchResultsWrap-"] div[class*="searchResult-"]::before, div[class*="searchResultsWrap-"] div[class*="searchResult-"]::after {
    background: transparent;
}
div[class*="searchResultsWrap-"] div[class*="searchHeader-"] {
    background-color: var(--background-highlight);
}
div[class*="searchResultsWrap-"] div[class*="scrollerWrap-"] div[class*="scroller-"] {
    background-color: var(--background-primary);
}
div[class*="searchResultsWrap-"] div[class*="searchResult-"] div[class*="avatar"] {
    margin: 0 20px 20px;
}
div[class*="searchResultsWrap-"] div[class*="searchResult-"][class*="expanded-"] {
    background: var(--background-secondary);
    border: 0;
    border-radius: 0;
}
div[class*="searchResultsWrap-"] div[class*="searchResult-"][class*="expanded-"] div[class*="searchResultMessage-"][class*="hit-"] {
    background-color: var(--background-primary);
    border-bottom: 0;
    border-top: 0;
}
div[class*="searchResultsWrap-"] div[class*="searchResult-"] div[class*="searchResultMessage-"][class*="hit-"] {
    background-color: var(--background-primary);
    border: 0;
    border-radius: 0;
    box-shadow: none;
}
div[class*="searchResultsWrap-"] div[class*="channelSeparator-"] span[class*="channelName-"] {
    background: var(--background-primary);
    margin-left: 15px;
    padding: 8px;
}

div[class*="searchResultsWrap-"] > div[class*="searchHeader"] {
    background-color: var(--background-primary);
}

react-datepicker {
    background-color: var(--background-primary) !important;
}
react-datepicker .react-datepicker__day {
    background-color: var(--background-secondary) !important;
    border-color: #000 !important;
    color: #fff !important;
}
react-datepicker .react-datepicker__day.react-datepicker__day--selected:hover, react-datepicker .react-datepicker__day:hover {
    background-color: #242424 !important;
    color: #fff !important;
}
react-datepicker .react-datepicker__day.react-datepicker__day--selected {
    background-color: var(--background-secondary) !important;
}
react-datepicker .react-datepicker__day.react-datepicker__day--outside-month {
    background-color: var(--background-highlight) !important;
    color: var(--background-secondary) !important;
}
react-datepicker .react-datepicker__day.react-datepicker__day--disabled:not(.react-datepicker__day--outside-month) {
    background-color: var(--background-primary) !important;
    color: #555 !important;
}
react-datepicker .react-datepicker__day .react-datepicker__day-name {
    color: #fff;
}
react-datepicker .react-datepicker__current-month, react-datepicker .react-datepicker__day-name {
    border-color: #fff !important;
    color: #fff !important;
}
react-datepicker .react-datepicker__header {
    background-color: var(--background-primary) !important;
}
react-datepicker .react-datepicker__navigation {
    border-color: transparent !important;
    filter: brightness(2);
}
.date-picker {
    background-color: var(--background-primary);
    border-top: 0;
}
.date-picker .hint-value {
    background-color: var(--background-accent) !important;
    font-weight: lighter !important;
}

/* End AlexFlipnote's code */