@import url(https://hellbound1337.github.io/dark-discord/src/source.css);

.theme-dark,
.theme-light,
:root {
    --background-primary: #002b36 !important;
    --background-secondary: #073642 !important;
    --background-secondary-alt: #657b83 !important;
    --background-tertiary: #073642 !important;
    --background-accent: #073642 !important;
    --background-floating: #073642 !important;
    --offline-color: #b9a8b9 !important;
}


/* user popout - credit to : https://github.com/A-User-s-Discord-Themes/Couve*/
/*role pills*/
.role-2irmRk{
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: none;
    padding: 5px;
}

.roleCircle-3xAZ1j::before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: inherit;
    opacity: .2;
    z-index: -1;
    pointer-events: none;
}
/*Bottom*/
.footer-1fjuF6{
    border-top: none;
}

.theme-dark .notches-1sAcEM.gray-3_LNYR {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='20' fill='%23292841'%3E%3Cpath fill-rule='evenodd' d='M0 0h8v20H0V0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z'/%3E%3C/svg%3E");
}

.tabBarContainer-1s1u-z {
    border-top: none;
}

.headerSpotify-zpWxgT {
    background: #699378;
}

.connectedAccount-36nQx7, .lookInverted-2D7oAl, .lookFilled-1Gx00P {
    border-radius: 25px;
}

.theme-dark .quickMessage-1yeL4E {
    border-radius: 25px;
}

.searchBar-3dMhjb {
    border-radius: 25px;
}

.selected-aXhQR6 .layout-2DM8Md {
    border-radius: 25px;
}

.clickable-1JJAn8:hover .layout-2DM8Md {
    border-radius: 25px;
}

.modeSelected-1zApJ_ .content-3at_AU, .modeSelected-1zApJ_:hover .content-3at_AU {
    border-radius: 25px;
}

.wrapper-1ucjTd:hover .content-3at_AU {
   border-radius: 25px;
}

.scrollableContainer-2NUZem {
    border-radius: 25px;
}

.theme-dark .container-1nZlH6 {
    border-radius: 25px;
}

.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, .topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ {
    border-radius: 25px;
}

.side-8zPYf6 .themed-OHr7kt.item-PXvHYJ:hover, .topPill-30KHOu .themed-OHr7kt.item-PXvHYJ:hover {
    border-radius: 25px;
}

.userPopout-3XzG_A {
    border-radius: 15px;
}

.actionsStreamPreview-2JlX14 .buttonSize-2Pmk-w, .actionsUserPopout-2MrzCa .buttonSize-2Pmk-w, .listeningActionsUserPopout-Ga2V_N .buttonSize-2Pmk-w {
    border-radius: 25px;
}

.lookOutlined-3sRXeN.colorWhite-rEQuAQ {
    border-radius: 25px;
}

.topSectionSpotify-1lI0-P {
    background: #699378;
}

.theme-dark .root-1gCeng {
    border-radius: 15px;
}

.theme-light .action-1lSjCi {
    border-radius: 25px;
}

.inputDefault-_djjkz {
    border-radius: 25px;
}

.theme-dark .copyInput-2rOSt7 {
    border-radius: 15px;
}

.item-26Dhrx {
    border-radius: 25px;
}


.container-2VW0UT.elevationHigh-1PneE4 {
    border-radius: 25px;
}

.css-1a8reka-control, .css-1yegjoj-control  {
    border-radius: 25px;
}

.theme-dark .checkbox-1ix_J3 {
    border-radius: 25px;
}

.theme-dark .lookOutlined-3sRXeN.colorPrimary-3b3xI6 {
    border-radius: 25px;
}

 .css-2yldzf-control  {
   border-radius: 20px 20px 0px 0px;
}

.premiumSubscriptionAccountCredit-25i0tQ {
    border-radius: 15px;
}

.iconBackgroundTier1-2GOcU8 {
    border-radius: 15px;
}

.iconBackgroundTier2-2TeI3a {
    border-radius: 15px;
}

.accountCreditRow-SHgyi0:not(:last-child) {
    padding-bottom: 16px;
    border-bottom: none;
}

.detailsBlock-FoDTGA {
    border-radius: 15px;
}

.banner-3Kac2g {
    border-radius: 15px;
}

.gridItemContent-2mkGdJ {
    border-radius: 10px;
}

.gridItem-HzCfl4:before {
    border-radius: 15px;
}

.wrapper-35wsBm {
    border-radius: 15px;
}

.embedFull-2tM8-- {
    border-radius: 4px 15px 15px 4px; 
}

.theme-dark .select-1Pkeg4 {
    border-radius: 25px;
}

.theme-dark .lookFilled-1h1y05.select-1Pkeg4:hover.selectOpen-hQuR6b, .theme-dark .lookFilled-1h1y05.selectOpen-hQuR6b {
   border-radius: 20px 20px 0px 0px;
}

.theme-dark .powercord-plugin-soon .wumpus {
    background-image: url(https://hellbound1337.github.io/discord-revamp/svg/PaintWumpus.svg);
}

.theme-dark .imageError-2OefUi, .theme-dark .invalidPoop-pnUbq7 {
    background-image: url(https://hellbound1337.github.io/discord-revamp/svg/Poop.svg);
}

.theme-dark .emptyIconGuilds-3OViNh {
    background-image: url(https://hellbound1337.github.io/discord-revamp/svg/NoMutualServers.svg);
}

.theme-dark .emptyIconFriends-BrjhY9 {
    background-image: url(https://hellbound1337.github.io/discord-revamp/svg/NoMutualFriends.svg);
}

.topSectionSpotify-1lI0-P .headerFill-adLl4x .tabBarContainer-1s1u-z {
    background: #61876e;
}

.search-2oPWTC .DraftEditor-root .public-DraftStyleDefault-block span {
    border-radius: 25px 0px 0px 25px !important;
}

.theme-dark .searchAnswer-3Dz2-q, .theme-dark .searchFilter-2ESiM3 span {
    border-radius: 25px !important;
}

.itemCard-v9viV7 {
    border-radius: 25px;
}

.theme-dark .inset-3sAvek {
    border-radius: 25px;
}

.activitySectionAssets-32WyHu .largeImage-DLXk-f {
    border-radius: 25px;
}

.barBase-39XTcM {
    left: 150px;
    right: 150px;
}


.consentCard-1iSxB_ {
    border-radius: 25px;
}

.lookOutlined-3sRXeN {
    border-radius: 25px;
}

.connectionDelete-2Odoln {
    border-radius: 25px;
}

.connection-1fbD7X {
    border-radius: 25px;
}

div[style*='flex: 0 1 auto; width: 415px; height: 200px; background-image: url("/assets/b669713872b43ca42333264abf9c858e.svg");'] {
    background-image: url( "https://hellbound1337.github.io/discord-revamp/svg/NoPendingRequests.svg") !important;
}

div[style*='flex: 0 1 auto; width: 433px; height: 232px; background-image: url("/assets/8c998f8fb62016fcfb4901e424ff378b.svg");'] {
    background-image: url("https://hellbound1337.github.io/discord-revamp/svg/PaintWumpus.svg") !important;
}

div[style*='flex: 0 1 auto; width: 376px; height: 162px; background-image: url("/assets/b5eb2f7d6b3f8cc9b60be4a5dcf28015.svg");'] {
    background-image: url("https://hellbound1337.github.io/discord-revamp/svg/WumpusUpset.svg") !important;
}

div[style*='flex: 0 1 auto; width: 421px; height: 218px; background-image: url("/assets/a12ff54c4c5c03b41006fd96a4709c29.svg");'] {
    background-image: url("https://hellbound1337.github.io/discord-revamp/svg/WumpusCrying.svg") !important;
}

img[src="/assets/cdea41ede63f61153e4a3c0531fa3873.svg"] {
    content: url("https://hellbound1337.github.io/discord-revamp/svg/Vault.svg") !important;
}

.button-14-BFJ.enabled-2cQ-u7:hover {
    border-radius: 25px;
}

.button-34kXw5 {
    border-radius: 25px;
}

.item-3T2z1R:last-child {
    border-radius: 0 25px 25px 0;
}

.item-3T2z1R:first-child {
    border-radius: 25px 0 0 25px;
}

.searchFilter-2ESiM3:first-child {
    margin-left: -2px;
    border-radius: 25px 0px 0px 25px;
}

.circleIconButton-jET_ig {
    color: #738adb;
}

.circleIconButton-jET_ig.selected-ugP_am {
    background-color: #738adb;
}

.lookGhost-2Fn_0- {
    border-radius: 25px;
}

.side-8zPYf6 .item-PXvHYJ {
    border-radius: 25px;
}

.multiInput-1e2xJ7 {
    border-radius: 25px;
}

.theme-dark .multiInputLast-1aQ3YA:before {
    border-right-color: transparent;
}

.theme-dark .footer-3rDWdC, .theme-dark .footer-2gL1pp {
    border-radius: 0px 0px 15px 15px !important;
}

.input-1mgnkM, .input-UJ9Tr3 {
    border-radius: 0px !important;
}

