@define-color borders_breeze #59554a;
@define-color content_view_bg_breeze #282828;
@define-color error_color_backdrop_breeze #d04c59;
@define-color error_color_breeze #da4453;
@define-color error_color_insensitive_backdrop_breeze #612f34;
@define-color error_color_insensitive_breeze #612f34;
@define-color insensitive_base_color_breeze #262626;
@define-color insensitive_base_fg_color_breeze #676254;
@define-color insensitive_bg_color_breeze #262626;
@define-color insensitive_borders_breeze #363531;
@define-color insensitive_fg_color_breeze #676254;
@define-color insensitive_selected_bg_color_breeze #262626;
@define-color insensitive_selected_fg_color_breeze #676254;
@define-color insensitive_unfocused_bg_color_breeze #262626;
@define-color insensitive_unfocused_fg_color_breeze #676254;
@define-color insensitive_unfocused_selected_bg_color_breeze #262626;
@define-color insensitive_unfocused_selected_fg_color_breeze #676254;
@define-color link_color_breeze #8ec07c;
@define-color link_visited_color_breeze #7f8c8d;
@define-color success_color_backdrop_breeze #34ab66;
@define-color success_color_breeze #27ae60;
@define-color success_color_insensitive_backdrop_breeze #255339;
@define-color success_color_insensitive_breeze #255339;
@define-color theme_base_color_breeze #282828;
@define-color theme_bg_color_breeze #282828;
@define-color theme_button_background_backdrop_breeze #292929;
@define-color theme_button_background_backdrop_insensitive_breeze #262626;
@define-color theme_button_background_insensitive_breeze #262626;
@define-color theme_button_background_normal_breeze #282828;
@define-color theme_button_decoration_focus_backdrop_breeze #6c9a6e;
@define-color theme_button_decoration_focus_backdrop_insensitive_breeze #3b4d3c;
@define-color theme_button_decoration_focus_breeze #689d6a;
@define-color theme_button_decoration_focus_insensitive_breeze #3b4d3c;
@define-color theme_button_decoration_hover_backdrop_breeze #85a397;
@define-color theme_button_decoration_hover_backdrop_insensitive_breeze #44504b;
@define-color theme_button_decoration_hover_breeze #83a598;
@define-color theme_button_decoration_hover_insensitive_breeze #44504b;
@define-color theme_button_foreground_active_backdrop_breeze #e0daaf;
@define-color theme_button_foreground_active_backdrop_insensitive_breeze #676254;
@define-color theme_button_foreground_active_breeze #ebdbb2;
@define-color theme_button_foreground_active_insensitive_breeze #676254;
@define-color theme_button_foreground_backdrop_breeze #e5d7b4;
@define-color theme_button_foreground_backdrop_insensitive_breeze #676254;
@define-color theme_button_foreground_insensitive_breeze #676254;
@define-color theme_button_foreground_normal_breeze #ebdbb2;
@define-color theme_fg_color_breeze #ebdbb2;
@define-color theme_hovering_selected_bg_color_breeze #83a598;
@define-color theme_selected_bg_color_breeze #689d6a;
@define-color theme_selected_fg_color_breeze #ebdbb2;
@define-color theme_text_color_breeze #ebdbb2;
@define-color theme_titlebar_background_backdrop_breeze #282828;
@define-color theme_titlebar_background_breeze #272727;
@define-color theme_titlebar_background_light_breeze #282828;
@define-color theme_titlebar_foreground_backdrop_breeze #ccbe9b;
@define-color theme_titlebar_foreground_breeze #ebdbb2;
@define-color theme_titlebar_foreground_insensitive_backdrop_breeze #ccbe9b;
@define-color theme_titlebar_foreground_insensitive_breeze #ccbe9b;
@define-color theme_unfocused_base_color_breeze #292929;
@define-color theme_unfocused_bg_color_breeze #292929;
@define-color theme_unfocused_fg_color_breeze #e5d7b4;
@define-color theme_unfocused_selected_bg_color_alt_breeze #304230;
@define-color theme_unfocused_selected_bg_color_breeze #304230;
@define-color theme_unfocused_selected_fg_color_breeze #e0daaf;
@define-color theme_unfocused_text_color_breeze #e5d7b4;
@define-color theme_unfocused_view_bg_color_breeze #262626;
@define-color theme_unfocused_view_text_color_breeze #676254;
@define-color theme_view_active_decoration_color_breeze #83a598;
@define-color theme_view_hover_decoration_color_breeze #83a598;
@define-color tooltip_background_breeze #282828;
@define-color tooltip_border_breeze #59554a;
@define-color tooltip_text_breeze #ebdbb2;
@define-color unfocused_borders_breeze #58554c;
@define-color unfocused_insensitive_borders_breeze #363531;
@define-color warning_color_backdrop_breeze #ec7811;
@define-color warning_color_breeze #f67400;
@define-color warning_color_insensitive_backdrop_breeze #6b3f18;
@define-color warning_color_insensitive_breeze #6b3f18;
