@define-color borders_breeze #2a515a;
@define-color content_view_bg_breeze #002b36;
@define-color error_color_backdrop_breeze #d33682;
@define-color error_color_breeze #d33682;
@define-color error_color_insensitive_backdrop_breeze #5f3058;
@define-color error_color_insensitive_breeze #5f3058;
@define-color insensitive_base_color_breeze #002b36;
@define-color insensitive_base_fg_color_breeze #426066;
@define-color insensitive_bg_color_breeze #073642;
@define-color insensitive_borders_breeze #16424c;
@define-color insensitive_fg_color_breeze #46666d;
@define-color insensitive_selected_bg_color_breeze #073642;
@define-color insensitive_selected_fg_color_breeze #46666d;
@define-color insensitive_unfocused_bg_color_breeze #073642;
@define-color insensitive_unfocused_fg_color_breeze #46666d;
@define-color insensitive_unfocused_selected_bg_color_breeze #073642;
@define-color insensitive_unfocused_selected_fg_color_breeze #46666d;
@define-color link_color_breeze #268bd2;
@define-color link_visited_color_breeze #6c71c4;
@define-color success_color_backdrop_breeze #2aa198;
@define-color success_color_breeze #2aa198;
@define-color success_color_insensitive_backdrop_breeze #126062;
@define-color success_color_insensitive_breeze #126062;
@define-color theme_base_color_breeze #002b36;
@define-color theme_bg_color_breeze #073642;
@define-color theme_button_background_backdrop_breeze #002b36;
@define-color theme_button_background_backdrop_insensitive_breeze #002b36;
@define-color theme_button_background_insensitive_breeze #002b36;
@define-color theme_button_background_normal_breeze #002b36;
@define-color theme_button_decoration_focus_backdrop_breeze #93a1a1;
@define-color theme_button_decoration_focus_backdrop_insensitive_breeze #426066;
@define-color theme_button_decoration_focus_breeze #93a1a1;
@define-color theme_button_decoration_focus_insensitive_breeze #426066;
@define-color theme_button_decoration_hover_backdrop_breeze #eee8d5;
@define-color theme_button_decoration_hover_backdrop_insensitive_breeze #6b807e;
@define-color theme_button_decoration_hover_breeze #eee8d5;
@define-color theme_button_decoration_hover_insensitive_breeze #6b807e;
@define-color theme_button_foreground_active_backdrop_breeze #93a1a1;
@define-color theme_button_foreground_active_backdrop_insensitive_breeze #46666d;
@define-color theme_button_foreground_active_breeze #073642;
@define-color theme_button_foreground_active_insensitive_breeze #46666d;
@define-color theme_button_foreground_backdrop_breeze #93a1a1;
@define-color theme_button_foreground_backdrop_insensitive_breeze #426066;
@define-color theme_button_foreground_insensitive_breeze #426066;
@define-color theme_button_foreground_normal_breeze #93a1a1;
@define-color theme_fg_color_breeze #93a1a1;
@define-color theme_hovering_selected_bg_color_breeze #eee8d5;
@define-color theme_selected_bg_color_breeze #93a1a1;
@define-color theme_selected_fg_color_breeze #073642;
@define-color theme_text_color_breeze #93a1a1;
@define-color theme_titlebar_background_backdrop_breeze #002b36;
@define-color theme_titlebar_background_breeze #073642;
@define-color theme_titlebar_background_light_breeze #073642;
@define-color theme_titlebar_foreground_backdrop_breeze #586e75;
@define-color theme_titlebar_foreground_breeze #93a1a1;
@define-color theme_titlebar_foreground_insensitive_backdrop_breeze #586e75;
@define-color theme_titlebar_foreground_insensitive_breeze #586e75;
@define-color theme_unfocused_base_color_breeze #002b36;
@define-color theme_unfocused_bg_color_breeze #073642;
@define-color theme_unfocused_fg_color_breeze #93a1a1;
@define-color theme_unfocused_selected_bg_color_alt_breeze #38484b;
@define-color theme_unfocused_selected_bg_color_breeze #38484b;
@define-color theme_unfocused_selected_fg_color_breeze #93a1a1;
@define-color theme_unfocused_text_color_breeze #93a1a1;
@define-color theme_unfocused_view_bg_color_breeze #002b36;
@define-color theme_unfocused_view_text_color_breeze #426066;
@define-color theme_view_active_decoration_color_breeze #eee8d5;
@define-color theme_view_hover_decoration_color_breeze #eee8d5;
@define-color tooltip_background_breeze #002b36;
@define-color tooltip_border_breeze #244851;
@define-color tooltip_text_breeze #93a1a1;
@define-color unfocused_borders_breeze #2a515a;
@define-color unfocused_insensitive_borders_breeze #16424c;
@define-color warning_color_backdrop_breeze #586e75;
@define-color warning_color_breeze #586e75;
@define-color warning_color_insensitive_backdrop_breeze #274952;
@define-color warning_color_insensitive_breeze #274952;
